  .split {
    height: 100%;
    width: 40%;
    position: fixed;
    z-index: 1;
    top: 20%;
    overflow-x: hidden;
    padding-top: 20px;
    border: 5px;
  }

  /* Control the left side */
  .left {
    left: 0;
    background-color: chartreuse;
  }

  /* Control the right side */
  .right {
    right: 0;
    background-color: azure;
  }
